################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Library-Database/FileContentIndex/1fed5b18-ff60-4ded-8e11-ef121e5a6b2e.vsidx
/.vs/Library-Database/FileContentIndex/b2bfb003-639b-4b22-9b70-c9283046d272.vsidx
/.vs/Library-Database/FileContentIndex/b3ca7e2c-e638-4ebc-9feb-0afbd9deeb8b.vsidx
/.vs/Library-Database/FileContentIndex/ed189768-38f7-4df1-8de8-6048e753a71b.vsidx
/.vs/Library-Database/FileContentIndex/18f04a22-a41d-4efa-8027-33562efbf872.vsidx
/.vs/Library-Database/FileContentIndex/8635f726-8164-4dea-966b-85283d8b5698.vsidx
